.DS_Store
Vue JS/02. Firebase App/node_modules/
Vue JS/02. Firebase App/dist/
Vue JS/02. Firebase App/npm-debug.log*
Vue JS/02. Firebase App/yarn-debug.log*
Vue JS/02. Firebase App/yarn-error.log*

Vue JS/03. Final App/node_modules/
Vue JS/03. Final App/dist/
Vue JS/03. Final App/npm-debug.log*
Vue JS/03. Final App/yarn-debug.log*
Vue JS/03. Final App/yarn-error.log*
Vue JS/03. Final App/.env

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
